Repository untile/js-configs, changes with the labels that .github/labeler.yml gives for each.
All labels: prettier-config, commitlint-config, eslint-config-react, stylelint-config-react-native, eslint-config-typescript-react-native, eslint-config, stylelint-config-react, eslint-config-typescript-react, eslint-config-typescript, oxlint-config

.github/labeler.yml:

# Auto-generated labeler.yml

# Label for package prettier-config.
prettier-config:
  - packages/prettier-config/**/*

# Label for package commitlint-config.
commitlint-config:
  - packages/commitlint-config/**/*

# Label for package eslint-config-react.
eslint-config-react:
  - packages/eslint-config-react/**/*

# Label for package stylelint-config-react-native.
stylelint-config-react-native:
  - packages/stylelint-config-react-native/**/*

# Label for package eslint-config-typescript-react-native.
eslint-config-typescript-react-native:
  - packages/eslint-config-typescript-react-native/**/*

# Label for package eslint-config.
eslint-config:
  - packages/eslint-config/**/*

# Label for package stylelint-config-react.
stylelint-config-react:
  - packages/stylelint-config-react/**/*

# Label for package eslint-config-typescript-react.
eslint-config-typescript-react:
  - packages/eslint-config-typescript-react/**/*

# Label for package eslint-config-typescript.
eslint-config-typescript:
  - packages/eslint-config-typescript/**/*

# Label for package oxlint-config.
oxlint-config:
  - packages/oxlint-config/**/*

Remove eslint-config-prettier
  packages/eslint-config-typescript-react/package.json
  packages/eslint-config-typescript-react/src/index.js
  yarn.lock
Labels: eslint-config-typescript-react

Fix peer dependencies
  packages/commitlint-config/package.json
  packages/eslint-config-typescript-react-native/package.json
  packages/eslint-config-typescript-react/package.json
  packages/eslint-config-typescript/package.json
  yarn.lock
Labels: commitlint-config, eslint-config-typescript-react-native, eslint-config-typescript-react, eslint-config-typescript

Remove eslint-config-prettier
  packages/eslint-config-typescript-react/package.json
  packages/eslint-config-typescript-react/src/index.js
  packages/eslint-config-typescript-react/test/index.test.ts
  yarn.lock
Labels: eslint-config-typescript-react

Fix peer dependencies
  packages/commitlint-config/package.json
  packages/eslint-config-typescript-react-native/package.json
  packages/eslint-config-typescript-react/package.json
  packages/eslint-config-typescript/package.json
  yarn.lock
Labels: commitlint-config, eslint-config-typescript-react-native, eslint-config-typescript-react, eslint-config-typescript

Remove eslint-config-prettier
  packages/eslint-config-typescript-react/package.json
  packages/eslint-config-typescript-react/src/index.js
  packages/eslint-config-typescript-react/test/index.test.ts
  yarn.lock
Labels: eslint-config-typescript-react

Release commitlint-config v3.0.1
  packages/commitlint-config/CHANGELOG.md
  packages/commitlint-config/package.json
Labels: commitlint-config

Release eslint-config-typescript v3.0.1
  packages/eslint-config-typescript/CHANGELOG.md
  packages/eslint-config-typescript/package.json
Labels: eslint-config-typescript

Release eslint-config-typescript v3.0.1
  packages/eslint-config-typescript-react/package.json
  packages/eslint-config-typescript/CHANGELOG.md
  packages/eslint-config-typescript/package.json
  yarn.lock
Labels: eslint-config-typescript-react, eslint-config-typescript

Release eslint-config-typescript-react v3.0.1
  packages/eslint-config-typescript-react/CHANGELOG.md
  packages/eslint-config-typescript-react/package.json
Labels: eslint-config-typescript-react

Release eslint-config-typescript-react v3.0.1
  packages/eslint-config-typescript-react-native/package.json
  packages/eslint-config-typescript-react/CHANGELOG.md
  packages/eslint-config-typescript-react/package.json
  yarn.lock
Labels: eslint-config-typescript-react-native, eslint-config-typescript-react

Release eslint-config-typescript-react-native v3.0.1
  packages/eslint-config-typescript-react-native/CHANGELOG.md
  packages/eslint-config-typescript-react-native/package.json
Labels: eslint-config-typescript-react-native
